
[submodule "backend"]
	path = backend
	url = https://github.com/Cirilus/BannerGenerationService.git
	branch = backend
[submodule "llm"]
	path = llm
	url = https://github.com/Cirilus/BannerGenerationService.git
	branch = llm
[submodule "image-generation"]
	path = image-generation
	url = https://github.com/Cirilus/BannerGenerationService.git
	branch = image-generation
[submodule "frontend"]
	path = frontend
	url = https://github.com/Cirilus/BannerGenerationService.git
	branch = frontend
